name: certora-verification-KintoID

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install python
        uses: actions/setup-python@v2
        with: { python-version: 3.9 }

      - name: Install java
        uses: actions/setup-java@v1
        with: { java-version: "11", java-package: jre }

      - name: Install certora cli
        run: pip3 install certora-cli==7.0.7

      - name: Install solc
        run: |
          wget https://github.com/ethereum/solidity/releases/download/v0.8.18/solc-static-linux
          chmod +x solc-static-linux
          sudo mv solc-static-linux /usr/local/bin/solc8.18

      - name: Verify
        run: |
          sh certora/munge.sh
          certoraRun certora/conf/${{ matrix.contract }}
        env:
          CERTORAKEY: ${{ secrets.CERTORAKEY }}

    strategy:
      fail-fast: false
      max-parallel: 16
      matrix:
        contract:
          - KintoID_SanctionsTraits.conf
          - KintoID_Monitor1.conf
          - KintoID_Monitor2.conf